#store img{
    width: 200px;
    height: 200px
}

.navmenu link{
    color:black;
}

.catbutton {

    border: none;
    background-color: none;
}

@media(max-width: 600px){
    #nav{
        display: none;
    }
}